<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8" />
    <script src="js/vue.min.js"></script>
    <script src="js/qrious.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <script src="//cdn.jsdelivr.net/npm/less@4.1.1" ></script>
    <title>QRCode Generator</title>
  </head>

  <body>

    <div id="app">

      <h1>QRCode Generator</h1>

      <div class="input">
        <input type="text" size="25" placeholder="Url du site..." v-model="text">
      </div>

      <div v-if="text" class="output">
        <img :src="newQRCode" alt="QRCode" />
      </div>

      <div id="footer">
        <a href="https://www.linkedin.com/in/sylvain-macabrey-806b76144/" target="_blank" rel="noopener noreferrer" >
          <h3>Made with ❤ and ☕ By <strong>Sylvain Macabrey</strong></h3>
        </a>
      </div>

    </div>

    <script>
      new Vue({
        el: "#app",
        data: {
          title: "Gerador QRCode",
          text: "",
          qrcode: new QRious({ size: 300 }),
        },
        computed: {
          newQRCode() {
            this.qrcode.value = this.text;
            return this.qrcode.toDataURL();
          },
        },
      });
    </script>

  </body>

</html>